<mat-card>
        <!-- Loop thru items -->
        <mat-card *ngFor="let t of myList; let i=index">
          <mat-card-content fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
            <img class="album-logo" src="src/assets/{{t.image}}" alt="">
            <div>
              <h3>{{t.album}}</h3>            
              <h5>{{t.artist}}</h5>
              <h5>Rating: {{t.rating}}</h5>
              <!-- </div> -->
            </div>
          </mat-card-content>
        </mat-card>
    </mat-card>