<form #myLPForm="ngForm" (ngSubmit)=processForm()>
  <mat-card>
    <div>
      <div>
          <mat-form-field>
              <input matInput name="album" placeholder="Album Name" ngModel required>
              <mat-error>
                Please enter the album name
              </mat-error>
          </mat-form-field>
          <mat-form-field>
              <input matInput name="artist" placeholder="Artist Name" ngModel required>
              <mat-error>
                Please enter the artist name
              </mat-error>
          </mat-form-field>
          <mat-slider         
                [max]="max"
                [min]="min"
                [step]="step"
                [thumbLabel]="thumbLabel"
                [tickInterval]="tickInterval"
                name="rating" placeholder="Rating" ngModel>
          </mat-slider>
              <!-- <input matInput name="rating" placeholder="Rating" value="15" ngModel> -->

          <mat-form-field>
              <input matInput name="image" placeholder="Image Name" ngModel>
          </mat-form-field>
      </div>
      <!-- <div class="button-row" fxLayoutAlign="end" fxLayoutGap="10px"> -->
      <div>
        <button mat-raised-button color="accent" type="reset">
            <mat-icon>clear</mat-icon>
            <span>Clear</span>
        </button>
        <button mat-raised-button color="accent" type="submit" [disabled]="myLPForm.invalid">
          <mat-icon>add_box</mat-icon>
          <span>Add</span>
        </button>
      </div>
    </div>
  </mat-card>


</form>